absl-py==2.3.1
blessed==1.22.0
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cachetools==5.5.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1723018376978/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1728479282467/work
click==8.1.8
contourpy==1.1.1
cycler==0.12.1
cyclonedds==0.10.2
etils==1.3.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1726613473834/work
fonttools==4.57.0
fsspec==2025.3.0
glfw==2.9.0
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1715527302982/work
google-auth==2.40.3
google-auth-oauthlib==1.0.0
gpustat==1.1.1
grpcio==1.70.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
imageio==2.35.1
imageio-ffmpeg==0.5.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
# Editable install with no version control (isaacgym==1.0rc4)
-e /home/wutr/IsaacGym/isaacgym/python
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
kiwisolver==1.4.7
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899923320/work
matplotlib==3.7.5
mdurl==0.1.2
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
mujoco==3.2.3
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
ninja==1.13.0
numpy==1.20.0
nvidia-ml-py==13.580.82
oauthlib==3.3.1
opencv-python==4.12.0.88
packaging==25.0
pandas==1.4.4
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1719903565503/work
protobuf==5.29.5
psutil==7.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
Pygments==2.19.2
PyOpenGL==3.1.10
pyparsing==3.1.4
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1723018227672/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
requests-oauthlib==2.0.0
rich==14.1.0
rich-click==1.8.9
rsa==4.9.1
-e git+https://github.com/leggedrobotics/rsl_rl.git@2ad79cf0caa85b91721abfe358105f869a784121#egg=rsl_rl
scipy==1.10.1
six==1.17.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1728484478345/work
tensorboard==2.14.0
tensorboard-data-server==0.7.2
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
triton==2.3.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata==2025.2
-e git+https://github.com/littlebearqqq/legged_gym_go2.git@3dd41142f0aecf600bf9a83982918cafc7a12177#egg=unitree_rl_gym
-e git+https://github.com/unitreerobotics/unitree_sdk2_python.git@18b9ef8e57e69b73c5e9b301b8481fce16a44b9b#egg=unitree_sdk2py
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1726496430923/work
wcwidth==0.2.14
Werkzeug==3.0.6
zipp==3.20.2
zstandard @ file:///home/conda/feedstock_root/build_artifacts/zstandard_1667296101734/work
